<ion-content class="background">
  <ion-card>
    <ion-card-header>
      LogIn
    </ion-card-header>
    <ion-card-content>
      <ion-list no-line>
        <ion-item>
          <ion-input [(ngModel)]='user.email' type="email" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]='user.password' type="password" placeholder="Password"></ion-input>
        </ion-item>
        <button (click)="Login(user)" ion-button block outline color="light">
          Login
        </button>
        <!-- <button ion-button block color="facebook">
          <ion-icon name="logo-facebook"></ion-icon>
          Login pelo facebook
        </button> -->
      </ion-list>
    </ion-card-content>
  </ion-card>
  <button class="bottom-left" ion-button clear color="light" (click)="pageSignup()">Criar conta</button>
  <button class="bottom-right" ion-button clear color="light">Esqueceu sua conta?</button>
</ion-content>
