page-login {
  .background{
    background-image: url('../assets/imgs/bg.jpg');
    background-size: 100% 100%;
  }

  .scroll-content{
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  ion-card.card{
    box-shadow: none;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }

  a, p,
  ion-card-header.card-header{
    color: #fff;
  }

  .list > .item-block:first-child {
    border: medium none;
  }

  .item{
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.5);
    border: medium none;

    .text-input, {
      color: #000;
    }

    input::placeholder {
      color: #000;
    }

  }

  .icon{
    padding-right: 10px;
  }

  .bottom-left {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }

  .bottom-right {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }

}
