<ion-menu [content] = "NAV">
  <ion-content>
    <ion-list>
        <button color="headereufui" menuClose ion-item *ngFor="let page of pages" (click)="goToPage(page.component)">
          <ion-icon item-left name={{page.icon}}></ion-icon>
          {{page.title}}
        </button>
        <button color="headereufui" menuClose ion-item (click)="logoff()">
          <ion-icon item-left name="exit"></ion-icon>
          Deslogar
        </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #NAV [root]="rootPage"></ion-nav>
