<ion-header>
  <ion-navbar class="header-opacity" color="headereufui" hideBackButton = "false">
  </ion-navbar>
</ion-header>
<ion-content class="background">
  <ion-card>
    <ion-card-header>
      Cadastro
    </ion-card-header>
    <ion-card-content>
      <ion-list no-line>
        <ion-item>
          <ion-input type="text" [(ngModel)]='user.email' placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" [(ngModel)]='user.password' placeholder="Password"></ion-input>
        </ion-item>
        <button (click)="addUser(user)" ion-button block outline color="light">
          Cadastre-se
        </button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
